@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Single+Day&family=Yeon+Sung&display=swap');

/* font-family: 'Single Day', cursive;
font-family: 'Yeon Sung', cursive; */
* {
    margin: 0;
    padding: 0;
}

.치매약:after {
    content: "";
    clear: both;
    display: block;
}

.전체 {
    background-color: aquamarine;
    width: 80%;
    margin: auto;
    padding: 20px;
}


.전체 .첫째 {
    background-color: darkkhaki;
    padding: 20px;
}

.전체 .첫째 .첫자손 {
    float: left;
    width: 23.5%;
    margin-right: 2%;
}


/* ---첫자식1--- */

.전체 .첫째 .첫자손.첫자식1 {
    font-family: 'Single Day', cursive;
    background-color: rebeccapurple;
    position: relative;
    overflow: hidden;
    /* -> 영역보다 넘치는건 보이지마라 *반드시 부모한테 줘야함 */
}

.전체 .첫째 .첫자손.첫자식1 .하 {
    position: relative;
    background-image: url(https://img1.daumcdn.net/thumb/R658x0.q70/?fname=https://t1.daumcdn.net/news/202203/12/tvreport/20220312220506677ziki.jpg);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.전체 .첫째 .첫자손.첫자식1 .하 h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blue;
    color: aliceblue;
    padding: 3px 5px;
    /* -> 값이 두개 일때 (위,아래) (양,옆) */
}

.전체 .첫째 .첫자손.첫자식1 .상 {
    position: absolute;
    /* left: 0; top: 0; width: 100%; height: 100%; */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* -> 위에랑 같은말이다 */
    background-image: url(https://entertainimg.kbsmedia.co.kr/cms/uploads/BBSIMAGE_20220325094901_14d53535f2602ac081d6d529f18ce3c1.JPG);
    background-size: cover;
    background-position: center;
    transition: 0.3s;
    transform: translatex(100%)
}

.전체 .첫째 .첫자손.첫자식1:hover .상 {
    /* opacity: 0; */
    /* -> 마우스를 올리면 상이 사라지면서 하가 보임 */
    transform: translatex(0%)
}


.전체 .첫째 .첫자손.첫자식1 .상 h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: blueviolet;
    color: rgb(227, 201, 167);
}
/* //end첫자식1 */

/* ---첫자식2--- */

.전체 .첫째 .첫자손.첫자식2 {
    position: relative;
    font-family: 'Yeon Sung', cursive;
    background-color: greenyellow;
    height: 200px;
    overflow: hidden;
}

.전체 .첫째 .첫자손.첫자식2 .상하 {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.전체 .첫째 .첫자손.첫자식2 .상하 h4 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
    color: black;
    padding: 3px 5px;
}

.전체 .첫째 .첫자손.첫자식2 .상 {
    z-index: 2;
    background-image: url(https://dimg.donga.com/wps/SPORTS/IMAGE/2022/03/27/112551423.1.jpg);
    transform: translateY(100%); /* -> 내몸의 100%만큼 위로 올림 */
    transition: 0.3s;
}

.전체 .첫째 .첫자손.첫자식2:hover .상{
    transform: translateY(0%);
}

.전체 .첫째 .첫자손.첫자식2 .하 {
    z-index: 1; /* -> z-index는 포지션이 있어야 적용됨 1은 레이어가 아래, 2는 위 */
    background-image: url(http://digitalchosun.dizzo.com/site/data/img_dir/2022/03/18/2022031880207_0.jpg);
}
/* //end첫자식2 */

/* ---첫자식3--- */

.전체 .첫째 .첫자손.첫자식3 {
    background-color: salmon;
    height: 200px;
    position: relative;
    overflow: hidden;
}
.전체 .첫째 .첫자손.첫자식3 .상하{
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%; /* ->부모를 꽉채운다 */
    background-size: cover;
    background-position: center;
}
.전체 .첫째 .첫자손.첫자식3 .상하 h4{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-color: bisque;
    color: grey; padding: 3px 5px;
}
.전체 .첫째 .첫자손.첫자식3 .상{
    z-index: 2;
    background-image: url(https://newsimg.hankookilbo.com/cms/articlerelease/2020/12/01/bce9c9d5-c8fc-4eb7-9c31-84424d57d8f7.jpg);
    transform: scale(0.1);
    opacity: 0;
    transition: 0.3s;
    border-radius: 50%;
}

.전체 .첫째 .첫자손.첫자식3:hover .상{
    transform: scale(0.9);
    opacity: 1;
}

.전체 .첫째 .첫자손.첫자식3 .하{
    z-index: 1;
    background-image: url(https://image.newsis.com/2022/09/13/NISI20220913_0001083629_web.jpg?rnd=20220913131334);
}
/* //end첫자식3 */

/* ---첫자식4--- */

.전체 .첫째 .첫자손.첫자식4 {
    position: relative;
    background-color: rgb(248, 77, 163);
    margin-right: 0;
    height: 200px;
    overflow: hidden;
}
.전체 .첫째 .첫자손.첫자식4 .비디오{
    position: absolute; width: 100%; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.전체 .첫째 .첫자손.첫자식4 .비디오 video{
    width: 100%
}
.전체 .첫째 .첫자손.첫자식4 h4{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, 110px);
    color: white;
}
.전체 .첫째 .첫자손.첫자식4:hover h4{
animation:mymove 2s both;
}

@keyframes mymove{
    0% {transform: translate(-50%, 110px);}
    100% {transform: translate(-50%, -130px);}
}